<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>アンケート説明</h1>
      <div>
        <h4 class="bold_text">【回答者】<%= User.find(params[:user_id]).name %></h4>
      </div>

      <div class="explanation" style="margin-bottom: 20px;">
        <p>
          <h4 class="bold_text">【実験説明】</h4>
          <ul class="list-group">
            <li>これから流れる10秒程度の動画をみて、動画内のアバタの動作に関するアンケートに回答していただきます。</li>
            <li>動画は48種類あり、各動画において「アンケート回答欄」で回答してください。</li>
            <li>すべての回答を選択した後、「送信して次へ」のボタンを押して次の問に進んでください。</li>
          </ul>
        </p>
  
        <p>
          <h4 class="bold_text">【回答方法】</h4>
          <ol class="list-group">
            <li>回答は7段階評価で、一番左が『まったくそう思わない』、一番右が『とてもそう思う』となっています。いちばん当てはまるものを選択して下さい</li>
            <li>また『アバタがしていた動作』『アバタの身体の向き』についても、いちばん当てはまるものを選択して下さい</li>

            <p>《アンケート回答欄の例》</p>
            <img class='questions_image' src="/questions_2.png" />
          </ol>
          
        </p>

        <p>
          <h4 class="bold_text">【注意事項】</h4>
          <ol class="list-group">
            <li><strong>動画は1度しか流れません</strong></li>
            <li><strong>ブラウザの「戻る」ボタン等を使って前動画について回答しなおさないでください。</strong></li>
            <li><strong>動画の再生が終わるまで回答の送信は出来ません</strong></li>
          </ol>
        </p>
      </div>
      <%= button_to "回答へ進む", sessions_path(user_id: params[:user_id]), action: "post" %>
    </div>
  </div>
</div>
