<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>アンケート説明</h1>
      <div>
        <span class="bold_text">【回答者】<%= User.find(params[:user_id]).name %></span>
      </div>

      <div class="explanation" style="margin-bottom: 20px;">
        <p>「回答へ進む」を押すと回答ページへ進みます。</p>
        <p><span class="bold_text">【実験説明】</span><br>
          <ul class="list-group">
            <li>本アンケートは『Part.1』と『Part.2』の2部構成です</li>
            <li>各Partには48種類のモーションがあり、モーション１つ1つについてアンケートを行って頂きます。</li>
            <li>「アンケート回答欄」の箇所で回答してください。</li>
            <li>回答をすべて選択した後、「送信して次へ」のボタンを押して次の問に進んでください。</li>
          </ul>
        </p>
      </div>
      <div>
      <p><span class="bold_text">【回答方法】</span><br>
        <ul class="list-group">
          <li>回答は7段階評価で、一番左が「とてもそう思う」、一番右が「まったくそう思わない」となっています。</li>
          <li>モーションは何度再生しても構いません。</li>
          <li>ブラウザの「戻る」ボタン等を使って前の回答を回答しなおさないでください。</li>
        </ul>
      </div>
      <%= button_to "回答へ進む", sessions_path(user_id: params[:user_id]), action: "post" %>
    </div>
  </div>
</div>
