// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.likert {
  margin-top: 15px;
  margin-bottom: 15px;
  input[type=radio] {
    margin-right: 10px;
    margin-left: 10px;
  }
  .ends {
    font-weight: bold;
  }
}
.webgl-container{
  margin:0px auto;
  width:642px;
  height:482px;
  border: solid 1px;
}
.questions{
  margin-left: 30px;
  margin-right: 30px;
}
.question{
  font-size: 15px;
}

.progress{
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.reset_button{
  margin-top: 5px;
  
}
.restart_btn{
  padding: 6px 6px !important;
}

.submit_button{
  padding: 10px;
  margin: auto;
  display: inherit;
}

.error_text{
  padding: 10px;
  color: red;
}