// Place all the styles related to the enquette controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
@import "bootstrap-sprockets";
@import "bootstrap";

.list-group{
  margin-left: 40px;
  li{
    padding-bottom: 5px;
    font-size: 15px;
  }
}

.questions_image{
  width: 400px;
  border: 1px #000000 solid;
  margin-left: 10px;
}